video {
    width: 100%;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: #3fba67;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 6.4em;
    color: #3fba67;
/*    text-shadow: 1px 1px #000000;;  */
    margin-top: 0vw;
    margin-left: 2vw;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer {
    font-size: 0.6em;
}

.video {
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.videoo {
    z-index: -10;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    top: -40%;
    left: 0;
}

/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.78);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #3fba67;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #6cfa9b;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;

}

.column {
    flex-basis: 400px;
    flex-grow: 1;
    margin: 80px 10px 10px 10px;
}

.column_wide {
    flex-basis: 400px;
    flex-grow: 3;
}

.column_narrow {
    flex-basis: 400px;
    flex-grow: 1;
}

#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    padding: 0px;

}

#cv .column {
    flex-grow: 1;
    flex-basis: 200px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.div {
    width: 40px;
    height: 5px;
    background-color: #3fba67;
    margin: 6px 0;
}

#dog_container {
    position: absolute;
}

.dog_walk_left {
    animation-name: dog_walk_left_kf;
    animation-duration: 48s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#dog_sprite {
    width: 10vw;
    height: 6.66vw;
    background-image: url(dogsprite.svg);
    background-size: 1200% 100%;
}

.dog_walkcycle {
    animation-name: dog_walkcycle_kf;
    animation-duration: 0.8s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
}

@keyframes dog_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1200% 0%;
    }
}

@keyframes dog_walk_left_kf {
    0% {
        right: -30vw;
    }
    100% {
        right: 110vw;
    }
}
