.MyNav {
    font-family: 'Source Code Pro', monospace;
}

body {
    font-family: 'Open Sans', sans-serif;
}

video {
    width: 100%;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: #A46499;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 6.4em;
    color: #A46499;
    margin-top: 0vw;
    margin-left: 4vw;

}

h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer {
    font-size: 0.6em;
    text-align: right;
}

.video {
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.videoo {
    z-index: -10;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    top: -40%;
    left: 0;
}

/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.78);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #A46499;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay .closewbtn .dropbtn {
    cursor: pointer;
}


a:link {
    color: #A46499;
}

/* visited link */

a:visited {
    color: #A46499;
}

/* mouse over link */

a:hover {
    color: #A46499;
}

/* selected link */

a:active {
    color: #A46499;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;
}

.column {
    flex-basis: 400px;
    flex-grow: 1;
    margin: 80px 10px 10px 10px;
}

.sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.column1 {
    flex-basis: 400px;
    flex-grow: 1;
    margin: 80px 10px 10px 10px;
    width: 400px;
}

.sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    flex-basis: 400px;
    flex-grow: 1;
    margin: 80px 10px 10px 10px;
    width: 400px;
}

.sectionwrapper2 h2 {
    margin-left: 0;
    margin-bottom: 0;
}

.sectionwrapper2 footer {
    text-align: left;
}

.div {
    width: 40px;
    height: 5px;
    background-color: #A46499;
    margin: 6px 0;
    cursor: pointer;
}

.burger {
    cursor: pointer;
}

#dog_container {
    position: absolute;
}

.dog_walk_left {
    animation-name: dog_walk_left_kf;
    animation-duration: 48s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#dog_sprite {
    width: 10vw;
    height: 6.66vw;
    background-image: url(dogsprite.svg);
    background-size: 1200% 100%;
}

.dog_walkcycle {
    animation-name: dog_walkcycle_kf;
    animation-duration: 0.8s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
}

@keyframes dog_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1200% 0%;
    }
}

@keyframes dog_walk_left_kf {
    0% {
        right: -20vw;
    }
    100% {
        right: 110vw;
    }
}


#farvepalette .colors {
    display: flex;
    justify-content: space-between;
}

#farvepalette .color {

    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
}

#farvepalette .color1 {
    background-color: #37572D;
}

#farvepalette .color2 {
    background-color: #BBF0AB;
}

#farvepalette .color3 {
    background-color: #73A464;
}

#farvepalette .color4 {
    background-color: #57244F;
}

#farvepalette .color5 {
    background-color: #A46499;
}


@media only screen and (min-width: 320px) {
    h2 {
        font-size: 1.4em;
    }
    .videoo {
    z-index: -10;
    width: 100%;
    height: 20%;
    overflow: hidden;
    position: absolute;
    top: -4%;
    left: 0;
    }
}

@media only screen and (min-width: 500px) {
     h2 {
        font-size: 2em;
    }
    .videoo {
    z-index: -10;
    width: 100%;
    height: 30%;
    overflow: hidden;
    position: absolute;
    top: -10%;
    left: 0;
}
}

@media only screen and (min-width: 768px) {
     h2 {
        font-size: 3em;
    }
    .videoo {
    z-index: -10;
    width: 100%;
    height: 48%;
    overflow: hidden;
    position: absolute;
    top: -24%;
    left: 0;
}
}


@media only screen and (min-width: 1000px) {
     h2 {
        font-size: 4em;
    }
    .videoo {
    z-index: -10;
    width: 100%;
    height: 64%;
    overflow: hidden;
    position: absolute;
    top: -38%;
    left: 0;
}
}

@media only screen and (min-width: 1440px) {
     h2 {
        font-size: 6.4em;
    }
    .videoo {
    z-index: -10;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    top: -40%;
    left: 0;
}
}
